@{
    ViewData["Title"] = "Home Page";
}


<!--<div class="text-center">
    <h1 class="title-page">Vocabulary</h1>
    <p>Expand Your Lexicon: Embrace the Power of Words with Our Vocabulary Web App!.</p>
</div> -->


<span class="title-page">Vocabulary</span>